mixin image-card(post)
    .image-card
        img(src=post.post_content, class="center-block")
        .image-card-stats
            p #{post.post_title}
            p
                span.block 
                    span(class="glyphicon glyphicon-heart")
                    span(class="heart-counter") #{post.post_like_count}
                span.block
                    span(class="glyphicon glyphicon-comment")
                    span(class="comments-counter") #{post.post_comment_count}
                if post.post_has_article
                    span.block
                        span(class="glyphicon glyphicon-pencil")
    - var post_href = String(post.post_title).split(' ').join('-');
    a(href="post/" + post_href)
        .image-date-placeholder
            time(datetime=post.post_date) #{post.post_date}